a {
	color: #000000;
}
/* a:hover {
	font-style: italic;
} */
.style2 {
	color: #0000ff;
}
.style3 {
	color: #f45021;
}

.container {
	text-align: center;
	margin: 0 auto;
	width: 100%;
}

div > div {
	margin-top: 4rem;
}
